// overall styles 
// reusable code 
$primaryColor: white;
// flex to center 
.flex-middle{ 
  display: flex;
    flex-direction: column;
    align-items: center;
}

// buttons and content width 



//end of reusable code 

body { 
  margin: 0px;
}
* {
  background-color: black;
  color: $primaryColor;
  font-family: 'Permanent Marker', cursive, sans-serif;
  width: 100%;

}
// all buttons on page

button {
  background-color:$primaryColor;
  color: black;
  border-radius: 8px;
  height:41px; 
}
button:hover { 
  background-color: black;
  color: white;

}
// end of buttons on page
// end of overall styles 


 

//random gif page
.random-gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0 0;

  img {
    height: 330px;
    max-width: 490px;
  }
  .button-random {
    padding: 20px;
  }
  button {
    background-color:$primaryColor;
    color: black;
  }
  button:hover { 
    background-color: black;
    color: white;
  }
}

// end of random gif 

// home page 
.home { 
  display: flex;
    flex-direction: column;
    align-items: center;
  .logo-container img { 
    max-width: 500px;
  }

}


// end of homepage

// search page 
.search-page{ 
  .search-forms { 
    display: flex;
    justify-content: center;
    height: 41px;
  }
  input { 
    border-radius: 8px;
  }
  input:focus{ 
    background-color: white;
    color: black;
    outline: none;
  }

  .search-images { 
    height: 100px;
    flex: 0 0 215px;
  }
  .search-images-container { 
    display: flex;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .search-container-width{ 
    display: flex;
    max-width: 260px;
  }
  .make-search { 
   text-align: center;
   padding-top: 20px;
  }
  .images-map { 
    max-width: 100px;
  }
  .images-container-inner { 
    max-width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

// end of search page 

// media queries home page

@mixin homePageMobile {
  @media only screen and (max-width: 480px) { 
    width: 300px;

  }
}

@mixin logo-home {
  @include homePageMobile;
}
@mixin logo-container { 
  @include homePageMobile();
  display: flex;
    flex-direction: column;
    align-items: center;
  text-align: center;

}

  @mixin container-width { 
    @include homePageMobile();
      max-width: 260px;
  }
.home { 
  .logo-container img { 
    @include logo-home()
  }
  .logo-container { 
    @include logo-container()
  }
  .content-width { 
   @include container-width();
}
}

@mixin imagesMap { 
  @media only screen and (min-width:780px) { 
    max-width: 160px;
  }
}

.search-page { 
  .images-map { 
    @include imagesMap()
  }
}
.random-gif{ 
  img { 
    @include homePageMobile()
  }
}