// overall styles 
// reusable code 
$primaryColor: white;
// flex to center 
.flex-middle{ 
  display: flex;
    flex-direction: column;
    align-items: center;
}


//end of reusable code 


* {
  background-color: black;
  color: $primaryColor;
  font-family: 'Permanent Marker', cursive, sans-serif;
  width: 100%;

}
// all buttons on page

button {
  background-color:$primaryColor;
  color: black;
  border-radius: 8px;
  height:41px; 
}
button:hover { 
  background-color: black;
  color: white;

}
button:active {

  transform: translateY(4px);
}
// end of buttons on page
// end of overall styles 


 

//random gif page
.random-gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0 0;

  // random gif image 
  img {
    height: 330px;
    max-width: 490px;
    animation: fadeIn 5s;
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 2s ease;
  }
  // end of random gif

  // button 
  .button-random {
    padding: 20px;
  }
  button {
    background-color:$primaryColor;
    color: black;
  }
  button:hover { 
    background-color: black;
    color: white;
  }
  // end of button
}

// end of random gif 

// home page 
.home { 
  display: flex;
    flex-direction: column;
    align-items: center;
  .logo-container img { 
    max-width: 500px;
  }

}


// end of homepage

// search page 
.search-page{ 
  // forms 
  .search-forms { 
    display: flex;
    justify-content: center;
    height: 41px;
  }
  input { 
    border-radius: 8px;
  }
  input:focus{ 
    background-color: white;
    color: black;
    outline: none;
  }
  // end of forms 

  // images cotiner and images and ternary options
  .search-images { 
    height: 100px;
    flex: 0 0 215px;
  }
  .search-images-container { 
    display: flex;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .search-container-width{ 
    display: flex;
    max-width: 260px;
  }
  .make-search { 
   text-align: center;
   padding-top: 20px;
  }

  .images-map { 
    max-width: 100px;
    transition: transform .2s;
  }
  .images-container-inner { 
    max-width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  img:hover{ 
    transform: scale(1.5);
  }
  // end of images and container 
}

// end of search page 

// media queries
// logo home
@mixin homePageMobile {
  @media only screen and (max-width: 480px) { 
    width: 300px;

  }
}
@mixin logo-home {
  @include homePageMobile;
}



@mixin logo-container { 
  @include homePageMobile();
  display: flex;
    flex-direction: column;
    align-items: center;
  text-align: center;

}
// container width 
  @mixin container-width { 
    @include homePageMobile();
      max-width: 260px;
  }

  // logo for home 

.home { 
  .logo-container img { 
    @include logo-home()
  }
  // useabe code on logo container for flexbox 
  .logo-container { 
    @include logo-container()
  }

  .content-width { 
   @include container-width();
}
}

// size of mapped images on larger screen 
@mixin imagesMap { 
  @media only screen and (min-width:780px) { 
    max-width: 160px;
  }
}
.search-page { 
  .images-map { 
    @include imagesMap()
  }
}
// end of mapped images 

// rnadom gif inheriting same size as logo container. 
.random-gif{ 
  img { 
    @include homePageMobile()
  }
}
// fade in added to random img
@keyframes fadeIn { 
  0% {opacity:0;}
  100% {opacity:1;}
}

